*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;	
}

body {
	padding: 20px;
	background: #ffd8fe; 
	color: dimgray;
}

h1 { 
	color: black;
	font-family: courier, monospace, Arial, Helvetica Neue, Helvetica, cursive;
	text-decoration:;
	font-style:;
 }

p {
	font-size: 24px;
	line-height: 32px;
	letter-spacing:;
}

h1, h2 {
	margin-top: 20px;
	margin-bottom: 10px;
}

span{
	font-size: 80px;
	color: #555555;
}

/*	font-family: courier, monospace, Arial, Helvetica Neue, Helvetica, cursive;
	font-size:14px;
	line-height:;
	text-decoration:;
	font-style:;
	letter-spacing:;
/* html{
	font-size: 14px;
}