@font-face {
  font-family: "Anthony";
  src: url("Anthony.woff") format("woff");
}

body {
	background: #ffd8fe; 
	color: #7b6c86;
	font-family: cursive;
}
span{
	font-size: 80px;
	color: #555555;
}
